.fonts-loaded body, header .dirigo-link{ font-family: 'Source Sans Pro', sans-serif; }
[class^="icon-"]{ font-family: entypo; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; }
.icon-resize-full-screen::before{ content: ; }
.icon-heart-outlined::before{ content: ; }
html{ font-family: sans-serif; }
body{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
 header, main{ display: block; }
a{ background-color: transparent; }
 strong{ font-weight: bold; }
h1{ font-size: 2em; margin-top: 0.67em; margin-right: 0px; margin-bottom: 0.67em; margin-left: 0px; }
small{ font-size: 80%; }
img{ border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
button{ color: inherit; font: inherit; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
button{ overflow-x: visible; overflow-y: visible; }
button{ text-transform: none; }
button{ -webkit-appearance: button; cursor: pointer; }
html{ color: rgb(34, 34, 34); font-size: 1em; line-height: 1.4; }
 img{ vertical-align: middle; }
 .gif-tiles::before, .gif-tiles .gif-like::before, .gif-tiles::after, .gif-tiles .gif-like::after{ content: ' '; display: table; }
 .gif-tiles::after, .gif-tiles .gif-like::after{ clear: both; }
@media print{
*{ background-image: initial !important; background-attachment: initial !important; background-origin: initial !important; background-clip: initial !important; background-color: transparent !important; color: rgb(0, 0, 0) !important; box-shadow: none !important; text-shadow: none !important; background-position: initial initial !important; background-repeat: initial initial !important; }
a{ text-decoration: underline; }
a[href]::after{ content: ' (', attr(href), ')'; }
a[href^="#"]::after{ content: ''; }
 img{ page-break-inside: avoid; }
img{ max-width: 100% !important; }
}
*{ box-sizing: inherit; }
html, body{ box-sizing: border-box; width: 100%; height: 100%; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(68, 68, 68); line-height: 1.5; color: rgb(221, 221, 221); overflow-x: hidden; background-position: initial initial; background-repeat: initial initial; }
a{ color: white; text-decoration: none; }
header{ position: relative; padding-top: 1em; padding-right: 1em; padding-bottom: 1em; padding-left: 1em; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(51, 51, 51); background-position: initial initial; background-repeat: initial initial; }
header .dirigo-link{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-size: 1em; font-weight: 200; text-transform: uppercase; text-decoration: none; color: rgb(153, 153, 153); }
header .dirigo-link strong{ font-weight: inherit; color: rgb(94, 200, 213); }
header .dirigo-link small{ font-size: 0.8em; color: rgb(153, 153, 153); }
header .dirigo-link .go-to{ display: inline-block; max-width: 0px; height: 0.9rem; overflow-x: hidden; overflow-y: hidden; color: rgb(153, 153, 153); opacity: 0; }
header h1{ width: 90%; max-width: 9em; line-height: 1; text-transform: uppercase; font-weight: 700; color: rgb(186, 218, 85); }
@media (min-width: 992px){
header h1{ font-size: 7.5em; }
}
header h1 a{ text-decoration: none; color: inherit; }
.gif-tiles{ padding-top: 0.5em; padding-right: 0.5em; padding-bottom: 0.5em; padding-left: 0.5em; }
.gif-tiles .gif-tile{ position: relative; margin-top: 0.5em; margin-right: 0.5em; margin-bottom: 0.5em; margin-left: 0.5em; float: left; overflow-x: hidden; overflow-y: hidden; }
@media (min-width: 768px){
.gif-tiles .gif-tile{ }
}
@media (min-width: 992px){
.gif-tiles .gif-tile{ }
}
@media (min-width: 1200px){
.gif-tiles .gif-tile{ }
}
.gif-tiles img{ display: block; width: 100%; }
.gif-tiles .icon-resize-full-screen{ position: absolute; top: 0px; right: 0px; padding-top: 0.5em; padding-right: 0.5em; padding-bottom: 0.5em; padding-left: 0.5em; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgba(0, 0, 0, 0.496094); font-size: 1.5em; color: white; background-position: initial initial; background-repeat: initial initial; }
.gif-tiles .gif-like{ position: absolute; left: 0px; right: 0px; bottom: 0px; padding-top: 0.5em; padding-right: 0.5em; padding-bottom: 0.5em; padding-left: 0.5em; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgba(0, 0, 0, 0.398438); background-position: initial initial; background-repeat: initial initial; }
.gif-tiles .gif-like [class^="icon"]{ position: relative; display: block; font-size: 1.5em; color: rgb(255, 99, 71); float: left; }
.gif-tiles .gif-like .gif-like-count{ position: relative; top: -1px; margin-top: 0px; margin-right: 0.5em; margin-bottom: 0px; margin-left: 0.5em; float: left; }
.gif-tiles .gif-like button{ position: relative; display: block; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: transparent; text-transform: uppercase; color: rgb(255, 99, 71); float: left; background-position: initial initial; background-repeat: initial initial; }
.gif-tiles .gif-like button.gif-share{ padding-top: 0px; padding-right: 0.5em; padding-bottom: 0px; padding-left: 0.5em; margin-top: 0px; margin-right: 0.5em; margin-bottom: 0px; margin-left: 0.5em; }
.gif-tiles .gif-share-dest{ position: absolute; left: 0.7em; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 99, 71); -webkit-transform: translateY(6em); opacity: 0; background-position: initial initial; background-repeat: initial initial; }
.gif-tiles .gif-share-dest::after{ content: ''; position: absolute; top: 100%; display: block; border-right-width: 0.5em; border-bottom-width: 0.5em; border-left-width: 0.5em; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; border-top-width: 0.5em; border-top-style: solid; border-top-color: rgb(255, 99, 71); }
.gif-tiles .gif-share-dest a{ display: block; padding-top: 0.5em; padding-right: 1em; padding-bottom: 0.5em; padding-left: 1em; float: left; }