.icon {
	background-repeat: no-repeat;

	&.icon-heart-outlined {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M17.19%204.156c-1.672-1.535-4.383-1.535-6.055%200L10%205.196l-1.136-1.04c-1.672-1.535-4.382-1.535-6.054%200-1.88%201.726-1.88%204.52%200%206.245L10%2017l7.19-6.6c1.88-1.725%201.88-4.52%200-6.244zm-1.066%205.22L10%2015.09%203.875%209.375c-.617-.567-.856-1.307-.856-2.094s.137-1.432.755-1.998c.545-.5%201.278-.777%202.063-.777.784%200%201.517.476%202.062.978L10%207.308l2.1-1.826c.545-.502%201.277-.978%202.062-.978s1.518.276%202.063.777c.618.567.755%201.213.755%202s-.238%201.528-.856%202.095z%22%2F%3E%3C%2Fsvg%3E');
	}

	&.icon-heart {
		background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M17.19%204.155c-1.672-1.534-4.383-1.534-6.055%200L10%205.197%208.864%204.155c-1.672-1.534-4.382-1.534-6.054%200-1.88%201.727-1.88%204.52%200%206.246L10%2017l7.19-6.6c1.88-1.725%201.88-4.52%200-6.245z%22%2F%3E%3C%2Fsvg%3E');
	}

}