.icon {
	background-repeat: no-repeat;

	&.icon-heart-outlined {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAASxJREFUOI3t00srRlEUxvGfS5EBmSCSJAPKZSoxlGQoZcwXwUD5AMqAMlfkC8gYYSrlTia85Za7wdlvHezXJUP+tdudtdbznNXae/PnGcIq7pHBPJpS+VYs4RIPWAuaKON4CUUTmMMdrtGHftzgFrOhZj1oxt6bteEZU8hLxdtxFLp5wAFaUvk8TAdta6y7qkjnNdjEBqoj+dqgHYXCECwP+0VEcIyuILqK5DNpj/zwsRX27oiA5BBiZmnNVjpYgj3soyGHMEYjDrEbPN7QjBOcejv4XLTjTDKSplxF9djBOTo+MeuUzG4bdV/9uVJyolfoieR7JXdzHRVfmWUpw4rkYg+k4oOSV7SM0u+aZSnGIh4xjBE8YQFFPzXLUiB5Zi9hzYTYr5kM65+PvALMw0ZtxwL9ZAAAAABJRU5ErkJggg==');
	}

	&.icon-heart {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAANVJREFUOI3t0r9KgmEUx/GPGRQNhouO0lhD3ke01dLt2OY95BUEiTcQzSXiGoIuNgeRg4K2PC+8b73/rLb6wm95znm+HA6HP88VHrHEK25xHKufYoA3rPAU/qRyjU1K3nGGcywyejqfZW2sM5o3YZpVTn0dprcThJeo5KxiNySLCi7iwnpOc1nqceH4F4QJxwFmsndUlGlwJDjByzdkc8nTSnCEyRayZ7SKdtHEqIRsiEaRLOIQDzmye9TKyiL20U+R3WFvW1lEFb2Y7Ca8/ZhuyD9f+QBhPWzplWnHKwAAAABJRU5ErkJggg==');
	}

}